.portfolio-sidebar-list-wrapper {
    .portfolio-item-thumb {
        padding: 21px;

        .portfolio-item-thumb-img img {
            width: 10%;
            height: 50%;
        }

        .title {
            color: $offwhite;
        }
    }
}